body {
    background-color: gray;
}
.navbar {
    background-color: pink;
    display: flex;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
    color: red
}
li {
    list-style-type: none;
}

.outer {
    height: 400px;
    width: 400px;
    background-color: blue;

    display: flex;
    justify-content: center; /*x axix*/
    align-items: center;     /*y axix*/
}
.inner {
    height: 100px;
    width: 100px;
    background-color: red;
}

@media (max-width : 600px) {
    body {
        background-color: black;
    }
}