h1::first-letter{
    font-size: 2em;
}
p::first-line{
    background-color: yellow;
    font-style: italic;
}
p::selection{
    color: rgb(44, 245, 44);
    background-color: darkblue;
}
#fruit li::before{
    content: "😉";
}
#apple::after{
    content: "🍎";
}
#orange::after{
    content: "🍊";
}
#banana::after{
    content: "🍌";
}
#fruit li::marker{
    content: "👌";
    font-size: 2em;
}